<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/jquery-ui.css">
  <link rel="stylesheet" href="./css/linearicons.css">
  <link rel="stylesheet" href="./css/ionicons.css">
  <link rel="stylesheet" href="./css/featherIcons.css">
  <link rel="stylesheet" href="./css/swiper.min.css">
  <link rel="stylesheet" href="./css/slick.css">
  <link rel="stylesheet" href="./css/fotorama.css">
  <link rel="stylesheet" href="./css/lightgallery.css">
  <link rel="stylesheet" href="./css/aos.css">
  <link rel="stylesheet" href="./css/hamburgers.css">
  <link rel="stylesheet" href="./css/index.css">
  <link rel="shortcut icon" href="./images/favicon.png" type="image/png" sizes="16x16 32x32">
  <title>ACDS</title>
</head>

<body>

  <!-- start header -->
  <div class="header-md">
    <div class="logo-lines">
      <div class="container">
        <div class="lines hamburger hamburger--elastic">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
        <div class="logo-img">
          <a href="./index.html">
            <img src="./images/logo/logo.png" alt="img">
          </a>
        </div>
      </div>
    </div>

    <div class="main-header-md-ul-div">
      <ul class="main-header-md-ul">
        <li>
          <a href="./index.html">
            <span>
              Home
            </span>
          </a>
        </li>
        <li>
          <a href="./about.html">
            <span>
              About Us
            </span>
          </a>
        </li>
        <li class="drop-li">
          <a href="" class="drop-a">
            <span>
              Services
            </span>
            <i class="ion-chevron-down"></i>
          </a>
          <ul class="dropped-ul">
            <li>
              <a href="./service-details.html">
                <span>
                  GIT & HEPATOLOGY DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  INTERNAL MEDICINE & DIABETES DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  PSYCHIATRIST DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  OPHTHALMOLOGY DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  VASCULAR SURGERY DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  CARDIOLOGY DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  UROLOGY DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  OBSTETRIC & GYNECOLOGY DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  PEDIATRIC DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  ENT DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  DERMATOLOGY DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  DENTAL DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  GENERAL SURGERY DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  ORTHOPEDIC & SPINAL SURGERY DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  ORTHOPEDIC DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  RHEUMATOLOGY & ARTHRITIS DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  PHYSIOTHERAPY DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  GENERAL PRACTITIONER DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  HOME CARE DEP
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  LABORATORY
                </span>
              </a>
            </li>
            <li>
              <a href="./service-details.html">
                <span>
                  RADIOLOGY DEP
                </span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="./doctors.html">
            <span>
              Doctors
            </span>
          </a>
        </li>
        <li class="active-li">
          <a href="./news.html">
            <span>
              News & Events
            </span>
          </a>
        </li>
        <li>
          <a href="./offers.html">
            <span>
              Offers
            </span>
          </a>
        </li>
        <li>
          <a href="./gallery.html">
            <span>
              Gallary
            </span>
          </a>
        </li>
        <li>
          <a href="./management.html">
            <span>
              Management
            </span>
          </a>
        </li>
        <li>
          <a href="./contact.html">
            <span>
              Contact Us
            </span>
          </a>
        </li>
        <li>
          <a href="./careers.html">
            <span>
              careers
            </span>
          </a>
        </li>
        <li>
          <a href="./new-branch.html">
            <span>
              DELMA Branch
            </span>
          </a>
        </li>
        <li class="lang-li">
          <a href="#">
            <img src="./images/icons/ar.png" alt="ar">
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="header-lg">

    <a href="./index.html">
      <img src="./images/logo/logo.png" alt="img">
    </a>

    <div class="header-content">
      <div class="header-lg-top">
        <div class="phone-email">
          <div class="phone">
            <i class="ion-ios-telephone-outline"></i>
            <span>02-6227700</span>
          </div>
          <div class="email">
            <i class="ion-ios-email-outline"></i>
            <span>imarketing@acds.ae</span>
          </div>
        </div>
        <a href="./appointment.html" class="appointment-link">
          <i class="ion-android-calendar"></i>
          <span>
            Make An Appointment
          </span>
        </a>
        <ul class="social-ul">
          <li>
            <a href="#">
              <i class="ion-social-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ion-social-googleplus"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ion-social-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ion-social-youtube"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ion-social-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ion-social-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="header-lg-bottom">
        <div class="main-ul-wrapper">
          <ul class="main-header-lg-ul">
            <li>
              <a href="./index.html">
                <span>
                  Home
                </span>
              </a>
            </li>
            <li class="hover-li">
              <a href="services.html" class="hover-a">
                <i class="linearicons-chevron-down"></i>
                <span>
                  Services
                </span>
              </a>
              <ul class="hovered-ul">
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/1.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        GIT & HEPATOLOGY DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/2.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        INTERNAL MEDICINE & DIABETES DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/3.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        PSYCHIATRIST DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/4.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        OPHTHALMOLOGY DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/5.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        VASCULAR SURGERY DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/6.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        CARDIOLOGY DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/7.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        UROLOGY DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/8.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        OBSTETRIC & GYNECOLOGY DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/9.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        PEDIATRIC DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/10.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        ENT DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/11.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        DERMATOLOGY DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/12.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        DENTAL DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/13.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        GENERAL SURGERY DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/14.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        ORTHOPEDIC & SPINAL SURGERY DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/15.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        ORTHOPEDIC DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/16.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        RHEUMATOLOGY & ARTHRITIS DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/17.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        PHYSIOTHERAPY DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/18.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        GENERAL PRACTITIONER DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/19.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        HOME CARE DEP
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/20.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        LABORATORY
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="./service-details.html">
                    <div class="img-div">
                      <img src="./images/services/services/21.png" alt="img">
                    </div>
                    <div class="service-title">
                      <p>
                        RADIOLOGY DEP
                      </p>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="./about.html">
                <span>
                  About Us
                </span>
              </a>
            </li>
            <li>
              <a href="./doctors.html">
                <span>
                  Doctors
                </span>
              </a>
            </li>
            <li class="active-li">
              <a href="./news.html">
                <span>
                  News & Events
                </span>
              </a>
            </li>
            <li>
              <a href="./offers.html">
                <span>
                  Offers
                </span>
              </a>
            </li>
            <!-- <li class="img-li">
                  <a href="./index.html">
                    <img src="./images/logo/logo.png" alt="img">
                  </a>
                </li> -->
            <li>
              <a href="./gallery.html">
                <span>
                  Gallary
                </span>
              </a>
            </li>
            <li>
              <a href="./management.html">
                <span>
                  Management
                </span>
              </a>
            </li>

            <li>
              <a href="./contact.html">
                <span>
                  Contact
                </span>
              </a>
            </li>
            <li>
              <a href="./careers.html">
                <span>
                  careers
                </span>
              </a>
            </li>
            <li>
              <a href="./new-branch.html">
                <span>
                  DELMA Branch
                </span>
              </a>
            </li>
            <li class="lang-li">
              <a href="#">
                <img src="./images/icons/ar.png" alt="ar">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end header -->

  <!-- register event page -->
  <div class="register-event-page">
    <div class="page-heading">
      <div class="img-div">
        <img src="./images/bkgs/event-reg-bkg.jpg" alt="img">
      </div>
      <div class="container">
        <p>
          ACDS Weekly (FREE CME PROGRAM)
        </p>
      </div>
    </div>
    <div class="container register-wrapper">
      <div class="form-wrapper">
        <div class="form-heading">
          <p>
            Event Registeration
          </p>
        </div>
        <form action="">
          <div class="form-div">
            <input type="text" name="name" placeholder="Name*">
            <div class="thin-line"></div>
          </div>
          <div class="form-div">
            <input type="email" name="email" placeholder="E-mail address*">
            <div class="thin-line"></div>
          </div>
          <div class="form-div">
            <input type="text" name="phone" placeholder="Pone number*">
            <div class="thin-line"></div>
          </div>
          <div class="form-div">
            <input type="text" name="job-title" id="" placeholder="Job title* ">
            <div class="thin-line"></div>
          </div>
          <div class="form-div">
            <input type="text" name="work" id="" placeholder="Place of work* ">
            <div class="thin-line"></div>
          </div>
          <div class="form-div">
            <input type="text" name="city" id="" placeholder="City* ">
            <div class="thin-line"></div>
          </div>
          <button type="submit">
            <span class="feather icon-send"></span>
            <span>
              Send
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- register event page -->

  <!-- start survey section -->
  <div class="survey-btn">
    <img src="./images/icons/survey.png" alt="survey">
    <div class="survey-text">
      <span>
        Take our survey
      </span>
      <span>
        and get a discount!
      </span>
    </div>
  </div>

  <!-- start survey modal -->
  <div class="survey-modal">

    <div class="modal-body container">
      <div class="heading">
        <p>
          Take our survey and get a discount!
        </p>
      </div>
      <div class="survey-wrapper">
        <div class="modal-close">
          <i class="linearicons-cross2"></i>
        </div>

        <form class="survey-form">
          <ul class="main-form-ul">
            <li class="form-li">
              <div class="question">
                <p>
                  How nurses communicate well with patients?
                </p>
              </div>
              <ul class="answers-ul">
                <li>
                  <label for="a-0-1">
                    <input type="radio" name="a-0" id="a-0-1">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Not Sure
                    </span>
                  </label>
                </li>
                <li>
                  <label for="a-0-2">
                    <input type="radio" name="a-0" id="a-0-2">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Bad
                    </span>
                  </label>
                </li>
                <li>
                  <label for="a-0-3">
                    <input type="radio" name="a-0" id="a-0-3">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Good
                    </span>
                  </label>
                </li>
                <li>
                  <label for="a-0-4">
                    <input type="radio" name="a-0" id="a-0-4">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Very Good
                    </span>
                  </label>
                </li>
              </ul>
            </li>
            <li class="form-li">
              <div class="question">
                <p>
                  How doctors communicate well with patients?
                </p>
              </div>
              <ul class="answers-ul">
                <li>
                  <label for="a-1-1">
                    <input type="radio" name="a-1" id="a-1-1">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Not Sure
                    </span>
                  </label>
                </li>
                <li>
                  <label for="a-1-2">
                    <input type="radio" name="a-1" id="a-1-2">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Bad
                    </span>
                  </label>
                </li>
                <li>
                  <label for="a-1-3">
                    <input type="radio" name="a-1" id="a-1-3">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Good
                    </span>
                  </label>
                </li>
                <li>
                  <label for="a-1-4">
                    <input type="radio" name="a-1" id="a-1-4">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Very Good
                    </span>
                  </label>
                </li>
              </ul>
            </li>
            <li class="form-li">
              <div class="question">
                <p>
                  What about the patients' rooms and bathrooms?
                </p>
              </div>
              <ul class="answers-ul">
                <li>
                  <label for="a-2-1">
                    <input type="radio" name="a-2" id="a-2-1">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Not Sure
                    </span>
                  </label>
                </li>
                <li>
                  <label for="a-2-2">
                    <input type="radio" name="a-2" id="a-2-2">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Bad
                    </span>
                  </label>
                </li>
                <li>
                  <label for="a-2-3">
                    <input type="radio" name="a-2" id="a-2-3">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Good
                    </span>
                  </label>
                </li>
                <li>
                  <label for="a-2-4">
                    <input type="radio" name="a-2" id="a-2-4">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Very Good
                    </span>
                  </label>
                </li>
              </ul>
            </li>
            <li class="form-li">
              <div class="question">
                <p>
                  What about the patients' rooms and bathrooms?
                </p>
              </div>
              <ul class="answers-ul">
                <li>
                  <label for="a-3-1">
                    <input type="radio" name="a-3" id="a-3-1">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Not Sure
                    </span>
                  </label>
                </li>
                <li>
                  <label for="a-3-2">
                    <input type="radio" name="a-3" id="a-3-2">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Bad
                    </span>
                  </label>
                </li>
                <li>
                  <label for="a-3-3">
                    <input type="radio" name="a-3" id="a-3-3">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Good
                    </span>
                  </label>
                </li>
                <li>
                  <label for="a-3-4">
                    <input type="radio" name="a-3" id="a-3-4">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Very Good
                    </span>
                  </label>
                </li>
              </ul>
            </li>
            <li class="form-li">
              <div class="question">
                <p>
                  How do patients rate the hospital?
                </p>
              </div>
              <ul class="answers-ul">
                <li>
                  <label for="a-4-1">
                    <input type="radio" name="a-4" id="a-4-1">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Not Sure
                    </span>
                  </label>
                </li>
                <li>
                  <label for="a-4-2">
                    <input type="radio" name="a-4" id="a-4-2">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Bad
                    </span>
                  </label>
                </li>
                <li>
                  <label for="a-4-3">
                    <input type="radio" name="a-4" id="a-4-3">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Good
                    </span>
                  </label>
                </li>
                <li>
                  <label for="a-4-4">
                    <input type="radio" name="a-4" id="a-4-4">
                    <i class="ion-android-checkbox-blank"></i>
                    <span>
                      Very Good
                    </span>
                  </label>
                </li>
              </ul>
            </li>
          </ul>
          <div class="name-phone-email">
            <input type="text" placeholder="Name :">
            <input type="email" placeholder="Email :">
            <input type="text" placeholder="Phone :">
          </div>
          <button type="submit">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- end survey modal -->
  <!-- end survey section -->

  <!-- start all footer -->
  <footer>
    <div class="top-footer">
      <div class="container">

        <div class="section-one">
          <div class="section-body">
            <a href="./index.html" class="logo-img">
              <img src="./images/logo/logo-footer.jpg" alt="img">
            </a>
            <div class="text">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero at praesentium reprehenderit architecto
                molestiae illo sed velit veniam ad. Nostrum mollitia sapiente molestiae accusantium vero beatae omnis
                fuga dolorem expedita?
              </p>
            </div>
          </div>
        </div>
        <div class="section-two">
          <div class="section-heading">
            <p>
              Quick links
            </p>
          </div>
          <div class="section-body">
            <ul class="main-section-ul">
              <li>
                <a href="./index.html">
                  <span>
                    Home
                  </span>
                </a>
              </li>
              <li>
                <a href="./news.html">
                  <span>
                    News & Events
                  </span>
                </a>
              </li>
              <li>
                <a href="./gallery.html">
                  <span>
                    Gallary
                  </span>
                </a>
              </li>
              <li>
                <a href="./contact.html">
                  <span>
                    Contact Us
                  </span>
                </a>
              </li>
              <li>
                <a href="./about.html">
                  <span>
                    About ACDS
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="section-three">
          <div class="section-heading">
            <p>
              Contacts
            </p>
          </div>
          <div class="section-body">
            <ul class="main-section-ul contacts-wrapper">
              <li>
                <div class="phone">
                  <span>
                    Phone
                  </span>
                  <div>
                    <i class="ion-ios-telephone-outline"></i>
                    <p>
                      02-6227700
                    </p>
                  </div>
                </div>
                <div class="address">
                  <span>
                    Location
                  </span>
                  <div>
                    <i class="ion-android-pin"></i>
                    <p>
                      Jasmine Tower Building , Airport Road , Beside RAK Bank , Abu Dhabi , UAE
                    </p>
                  </div>
                </div>
                <div class="email">
                  <span>
                    Email Address
                  </span>
                  <div>
                    <i class="ion-ios-email-outline"></i>
                    <p>
                      imarketing@acds.ae
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="section-four">
          <div class="section-heading">
            <p>
              News Letter
            </p>
            <p>
              Subscribe To ACDS news letter
            </p>
          </div>
          <div class="section-body">
            <div class="news-letter">
              <form action="">
                <input type="email" placeholder="Email Address">
                <button type="submit">Subscribe</button>
              </form>
            </div>

            <ul class="social-links">
              <li>
                <a href="#">
                  <i class="ion-social-facebook-outline"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="ion-social-twitter-outline"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="ion-social-instagram-outline"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="ion-social-youtube-outline"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-footer">
      <div class="container">
        <p>
          <!-- 2019 &copy; جميع الحقوق محفوظة لشركة بى جروب -->
          2019 &copy Begroup All rights reserved
        </p>
      </div>
    </div>
  </footer>
  <!-- end all footer -->

  <script src="./js/jquery-3.4.1.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/popper.min.js"></script>
  <script src="./js/jquery.counterup.js"></script>
  <script src="./js/jquery.waypoints.min.js"></script>
  <script src="./js/jquery-ui.min.js"></script>
  <script src="./js/swiper.min.js"></script>
  <script src="./js/slick.min.js"></script>
  <script src="./js/aos.js"></script>
  <script src="./js/fotorama.js"></script>
  <script src="./js/lightgallery.js"></script>
  <script src="./js/lg-thumbnail.js"></script>
  <script src="./js/index.js"></script>
</body>

</html>